{% extends 'base_menu.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Page</title>
</head>
<body>
{% block content %}
    <div class="header">
    <h1>TravelCrawl.</h1>
    <h4>Search for the cheapest flight.</h4>
    </div>
    <form method="POST"> {% csrf_token %}
        {{ form.origin}}
        {{ form.destination}}

        {{ form.startdate}}
        {{ form.enddate }}
        <input type="submit" value="Let's Go!"/>
    </form>
    <p>
        {{df | safe}}
    </p>
{% endblock %}
</body>
</html>
